.contenedor{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   
}
body{background-color: black;}
h1{
  font-family: Cambria;
  word-spacing: 10px;
  letter-spacing: 5px;
  background:linear-gradient(-35deg, red, yellow,pink, greenyellow);
  background-clip: text;
  color: transparent;
  animation: flotar 5s linear infinite, arcoiris 5s linear infinite;
  
}
img { border-radius: 100%;
animation: rotar 1s linear infinite;
justify-content: center; 
}

@keyframes arcoiris{
  from{ filter: hue-rotate(0deg); }
  to {filter: hue-rotate(360deg);
 }
}
@keyframes flotar{
  0%,100%{
    transform: translatey(0) scale(0.85s);
  }
  50% {transform:scale(1.15) translatey(77px);   
}
}
@keyframes rotar{
  0%,100%{transform:rotate (0deg);}
  25%, 95%{transform: rotate(360deg)}
  50%{ transform: translate3d(360deg);}
}